{% extends "base.html" %}
{% block content %}
<div class="section section-hero" id="home" style="background-image: url('https://imgs.aixifan.com/o_1db27qbc51qr1ml377n15hk688t.jpg'); background-size: cover; background-position: center center;">
    <div class="section-inner">
        <div class="table-container-outer container">
            <div class="table-container-inner">
                <div data-0="transform[swing]:translateY(0px);opacity[swing]:1" data-250="transform[swing]:translateY(-50px);opacity[swing]:0">
                <h1 class="hero-header" data-150="transform[swing]:translateX(0px);opacity[swing]:1" data-550="transform[swing]:translateX(-25px);opacity[swing]:0">TYUT-ADCP<strong class="main-color">Lab</strong></h1>
                <h2 class="hero-subheader" data-200="transform[swing]:translateX(0px);opacity[swing]:1" data-500="transform[swing]:translateX(25px);opacity[swing]:0">ADCP <strong class="main-color">Online</strong></h2>
                <div data-250="transform[swing]:translateY(0px);opacity[swing]:1" data-550="transform[swing]:translateY(-15px);opacity[swing]:0">
                    <div class="divider">//</div>
                </div>
                <div data-350="transform[swing]:translateY(0px);opacity[swing]:1" data-650="transform[swing]:translateY(-15px);opacity[swing]:0">
                    <p class=""></p>
                    <p> <br> </p>

                    <p class="">Attack-Defense Challenge Platform<a href="https://www.tyut.edu.cn/">TYUT</a></p>
                </div>
                <div>
                    <p>

                    </p>
                </div>
                <p> &copy; 2024 <a href="https://www.tyut.edu.cn/">tyut</a> | ADCP | Power By <a href="https://www.tyut.edu.cn/">200ok</a></p>
            </div>
        </div>
        <div class="scroll-icon visible-lg" data-600="opacity[swing]:1" data-850="opacity[swing]:0">
            <span class="icon icon-basic-magic-mouse"></span>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}